<div class="main  container   justify-content-between  mt-5  ">
    <div class="d-flex ">
        <div class="parent mt-2">
            <img  class="img1" src="../../assets/Rectangle 28.png">
            <img  class="img2" src="../../assets/Rectangle 29.png">
            

        </div>
    </div>
        <br><br><br><br>
         <div class="container  mt- namebox " >
            <div><h6>Sonu P NElOJ</h6></div>
            <p style="color: rgba(0, 0, 0, 0.25);">@SonuPNELOJ</p>
            <div class="post mt-2  d-flex">
                <p class="po" style="color: #91C024;">Create a Post</p><i class="fa-solid fa-pencil ms-2"></i>
            </div>
            <!-- <div class=" content"><p class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                Aliquam in hendrerit urna.</p></div> -->
         </div>
         <div class="MainCom mt-2">
        <div class="d-flex time">
            <img class="ms-2" src="../../assets/clock.jpg">
            <img class="ms-2" src="../../assets/clock.jpg">
            <img class="ms-2" src="../../assets/clock.jpg">
            <img class="ms-2" src="../../assets/clock.jpg">
        </div> 
         <div class="commu d-flex">
            
        </div>
    </div>
        <div class="active mt-2">
           <div class="d-flex"><span style="color: rgba(0, 0, 0, 0.25);">Active Now</span>
            <img class="ms-2" src="../../assets/Group 15.png"></div> </div> 
    <div class=" d-flex mb-4  ">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
    </div>
    <div class=" d-flex mb-4  ">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
        <img class="ms-2" src="../../assets/Rectangle 29.png">
        <div class="num"><p class="add">+3</p></div>
       
    </div>
        </div>
    
    

